---
import { ClientRouter } from "astro:transitions";
import Header from "@/components/shared/header.astro";
import Footer from "@/components/shared/footer.astro";

const { title, description } = Astro.props as { title: string; description: string };
---

<html lang="en" class="scroll-py-2.5 max-[8192px]:opacity-0 max-[3120px]:m-0 max-[3120px]:box-border max-[3120px]:p-0 max-[3120px]:[font-family:'Plus_Jakarta_Sans',Times,sans-serif,serif] max-[3120px]:opacity-100 max-[324px]:hidden">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta property="og:image" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index" />
    <meta name="description" content={`${description}`} />
    <meta name="og:title" content={`${title} | Decimate`} />
    <meta name="og:description" content={`${description}`} />
    <meta name="og:image" content="" />
    <meta name="twitter:title" content={`${title} | Decimate`} />
    <meta name="twitter:description" content={`${description}`} />
    <meta name="twitter:image" content="" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Decimate</title>
    <link rel="icon" href="" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <ClientRouter />
  </head>
  <body class="mx-auto min-h-screen max-w-[1440px] overflow-x-hidden">
    <Header />
    <slot />
    <Footer />
  </body>
</html>